<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>
    <p>Price: <%= @event.price %> €</p>
    <p>Capacity: <%= @event.capacity %></p>
    <p>Includes food: <%= @event.includes_food? %></p>
    <p>Includes drinks: <%= @event.includes_drinks? %></p>
    <p>Starts at: <%= @event.starts_at %></p>
    <p>Ends at: <%= @event.ends_at %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Categories -->
    <h4>Categories</h4>
    <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
    <% end %>

    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
      <%= image_tag photo.image %>
    <% end %>
  </div>
</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
